ul#deluxeMenu,ul#deluxeMenu ul{
	margin:0;list-style:none;background-color: #FFFFFF;}
ul#deluxeMenu ul{
	display:none;position:absolute;left:0;top:100%;padding:0 1px 1px;border-width:1px;border-style:solid;border-color:#000000;}
ul#deluxeMenu li:hover>*{
	display:block;}
ul#deluxeMenu li:hover{
	position:relative;}
ul#deluxeMenu ul ul{
	position:absolute;left:100%;top:0;}
ul#deluxeMenu{
	padding:1px 1px 1px 0;display:block;font-size:0;height:25px;float:left;}
ul#deluxeMenu li{
	display:block;white-space:nowrap;font-size:0;float:left;}
ul#deluxeMenu>li,ul#deluxeMenu li{
	margin:0 0 0 1px;}
ul#deluxeMenu ul>li{
	margin:1px 0 0;}
ul#deluxeMenu a:active, ul#deluxeMenu a:focus{
	outline-style:none;}
ul#deluxeMenu a,ul#deluxeMenu li.dis a:hover{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font:normal 12px Arial, Helvetica;color:#082FA5;cursor:pointer;padding:3px 7px;background-color:#FFFFFF;background-repeat:repeat;}
ul#deluxeMenu ul li{
	float:none;}
ul#deluxeMenu ul a,ul#deluxeMenu ul li.dis:hover a{
	text-align:left;}
ul#deluxeMenu li:hover>a{
	background-color:#082FA5;font:normal 12px Arial, Helvetica;color:#FFFFFF;text-decoration:none;}
ul#deluxeMenu li.dis a{
	color:#AAAAAA !important;}
ul#deluxeMenu img{
	border:none;vertical-align:middle;margin-right:3px;}
ul#deluxeMenu img.over{
	display:none;}
ul#deluxeMenu li.dis:hover a img.over{
	display:none !important;}
ul#deluxeMenu li.dis:hover a img.def{
	display:inline !important;}
ul#deluxeMenu li:hover > a img.def{
	display:none;}
ul#deluxeMenu li:hover > a img.over{
	display:inline;}
ul#deluxeMenu span{
	display:block;overflow:visible;background-image:url("arrow.gif");background-position:right center;background-repeat:no-repeat;padding-right:21px;}
ul#deluxeMenu li:hover>a>span{
	background-image:url("arrow_o.gif");}
ul#deluxeMenu ul span{
	background-image:url("arrow.gif");padding-right:13px;}
ul#deluxeMenu ul li:hover > a span{
	background-image:url("arrow_o.gif");}
ul#deluxeMenu.topmenu>li{
	margin:0;}

ul#deluxeMenu.topmenu>li>a,ul#deluxeMenu.topmenu>li.dis a:hover{
	padding:9px 7px 10px;}
ul#deluxeMenu li.topmenu>a,ul#deluxeMenu li.topmenu.dis a:hover{
	height:16px;background-color:#FDFDFD;background-image:url("back_o1.gif");padding:9px 7px 10px;font:bold 13px Arial, MS Sans Serif;color:#0033CC;text-decoration:none;background-position:0 0;line-height:13px;}
ul#deluxeMenu li.topmenu:hover>a{
	background-color:#FDFDFD;background-image:url("back_o1.gif");font:bold 13px Arial, MS Sans Serif;color:#0033CC;text-decoration:none;line-height:13px; }
ul#deluxeMenu li.topmenu,ul#deluxeMenu li.topmenu.dis:hover{
	background-color:#FFFFFF;background-image:url("back_o1.gif");background-position:100% 0;}
ul#deluxeMenu li.topmenu:hover{
	background-color:#FDFDFD;background-image:url("back_o1.gif");}
ul#deluxeMenu li.topmenu>a,ul#deluxeMenu li.topmenu.dis:hover>a{
	margin:0 0px 0 0px;}
ul#deluxeMenu li.ln>a,ul#deluxeMenu li.ln.dis a:hover{
	height:16px;background-color:#FDFDFD;background-image:url("back_o1.gif");padding:9px 7px 10px;font:bold 13px Arial, MS Sans Serif;color:#0033CC;text-decoration:none;background-position:0 0;line-height:13px;}
ul#deluxeMenu li.ln:hover>a{
	background-color:#FDFDFD;background-image:url("back_o1.gif");font:bold 13px Arial, MS Sans Serif;color:#0033CC;text-decoration:none;line-height:13px;}
ul#deluxeMenu li.ln,ul#deluxeMenu li.ln.dis:hover{
	background-color:#FDFDFD;background-image:url("back_o1.gif");background-position:100% 0;}
ul#deluxeMenu li.ln:hover{
	background-color:#FDFDFD;background-image:url("back_o1.gif");}
ul#deluxeMenu li.ln>a,ul#deluxeMenu li.ln.dis:hover>a{
	margin:0 0px 0 0px;}
