@media Print , Screen {
	UL.mktree LI {
		LIST-STYLE-TYPE: none;
	}
	UL.mktree {
		PADDING-RIGHT: 0px;
		PADDING-LEFT: 0px;
		PADDING-BOTTOM: 0px;
		MARGIN-LEFT: 7px;
		PADDING-TOP: 0px
	}
	UL.mktree UL {
		PADDING-RIGHT: 0px;
		PADDING-LEFT: 0px;
		PADDING-BOTTOM: 0px;
		MARGIN-LEFT: 7px;
		PADDING-TOP: 0px
	}
	UL.mktree LI {
		PADDING-RIGHT: 0px;
		PADDING-LEFT: 0px;
		PADDING-BOTTOM: 0px;
		MARGIN-LEFT: 7px;
		PADDING-TOP: 0px
	}
	UL.mktree LI .bullet {
		PADDING-LEFT: 10px;
		PADDING-BOTTOM: 0px;
	}
	UL.mktree LI.liOpen .bullet {
		BACKGROUND: url(../arrow-down.png) no-repeat left center;
		CURSOR: pointer
	}
	UL.mktree LI.liClosed .bullet {
		BACKGROUND: url(../arrow-side.png) no-repeat left center;
		CURSOR: pointer
	}
	UL.mktree LI.liBullet .bullet {
		BACKGROUND: url(../square1.png) no-repeat left center;
		CURSOR: default
	}
	UL.mktree LI.liOpen UL {
		DISPLAY: block
	}
	UL.mktree LI.liClosed UL {
		DISPLAY: none
	}
	UL.mktree LI {
		FONT-SIZE: 8pt;
		HEIGHT: 16px;
	}
	UL.mktree LI UL LI {
		FONT-SIZE: 8pt;
		HEIGHT: 17px;
	}
	UL.mktree LI UL LI UL LI {
		FONT-SIZE: 8pt;
		HEIGHT: 15px;
	}
	UL.mktree LI UL LI UL LI UL LI {
		FONT-SIZE: 8pt;
		HEIGHT: 15px;
	}
}