BODY {
	BACKGROUND-COLOR: white
}
.bodyBorder {
	BORDER-RIGHT: #dbdbdb 1px solid; BORDER-LEFT: #dbdbdb 1px solid
}
#popupbody {
	BACKGROUND-IMAGE: none
}
.r1_c1 {
	BACKGROUND: url(../../resources/images/r1_c1.gif) repeat; width:24px; height:58px; border:0px
}
.r1_c2{
	BACKGROUND: url(../../resources/images/r1_c2.gif) repeat; height:10px; border:0px
}
.r1_c3 {
	BACKGROUND: url(../../resources/images/r1_c3.gif) repeat; width:26px; height:58px; border:0px
}
.r2_c2 {
	BACKGROUND: url(../../resources/images/r2_c2.gif) repeat; height:26px; border:0px
}
.r3_c2 {
	BACKGROUND: url(../../resources/images/r3_c2.gif) repeat; height:22px; border:0px
}
.r4_c1 {
	BACKGROUND: url(../../resources/images/r4_c1.gif) repeat; width:24px; height:137px; border:0px
}
.r4_c2 {
	BACKGROUND: url(../../resources/images/r4_c2.gif) repeat; height:Auto; border:0px
}
.r4_c3{
	BACKGROUND: url(../../resources/images/r4_c3.gif) repeat; width:26px; height:137px; border:0px
}
.r5_c1{
	BACKGROUND: url(../../resources/images/r5_c1.gif) repeat; width:24px; height:25px; border:0px
}
.r5_c2{
	BACKGROUND: url(../../resources/images/r5_c2.gif) repeat; height:25px; border:0px
}
.r5_c3{
	BACKGROUND: url(../../resources/images/r5_c3.gif) repeat; width:26px; height:25px; border:0px
}
.headbg {
	BACKGROUND: url(images/header_bg.jpg) repeat-x
}
.headbgimg {
	BACKGROUND: url(images/header_bg_w774px.jpg) no-repeat
}
.hdrbg {
	BACKGROUND: url(images/header_bg.jpg) repeat-x
}
.logobg {
	BACKGROUND: url(images/logobg.jpg) repeat-x
}
.jetbluetext {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #0f204b; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.headjetbluetext {
	FONT: 10px Verdana; COLOR: #0f204b; TEXT-DECORATION: none
}
A.headjetbluetext:link {
	FONT: 10px Verdana; COLOR: #0f204b; TEXT-DECORATION: none
}
A.headjetbluetext:visited {
	FONT: 10px Verdana; COLOR: #0f204b; TEXT-DECORATION: none
}
A.headjetbluetext:hover {
	FONT: 10px Verdana; COLOR: #0f204b; TEXT-DECORATION: underline
}
A.headwhitetext {
	FONT: 10px Verdana; COLOR: #ffffff; TEXT-DECORATION: none; font-size: 12px;
}
A.headwhitetext:link {
	FONT: 10px Verdana; COLOR: #ffffff; TEXT-DECORATION: none; font-size: 12px;
}
A.headwhitetext:visited {
	FONT: 10px Verdana; COLOR: #ffffff; TEXT-DECORATION: none; font-size: 12px;
}
A.headwhitetext:hover {
	FONT: 10px Verdana; COLOR: #ffffff; TEXT-DECORATION: underline; font-size: 12px;
}
A.headcurrent {
	FONT: 10px Verdana; COLOR: #0000cc; TEXT-DECORATION: none
}
A.headcurrent:hover {
	FONT: 10px Verdana; COLOR: #0f204b; TEXT-DECORATION: underline
}
.headformobject {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.dhtmlbg {
	BACKGROUND-COLOR: #ffffff
}
.dhtmlsepbg {
	BACKGROUND-COLOR: #000046
}
.greysepbg {
	BACKGROUND-COLOR: #dadada
}
.tableborder {
	BACKGROUND-COLOR: #000046
}
.tabletitle {
	PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(images/right_nav_bg.gif); COLOR: #000046; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.tablepoint {
	PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #3953a4; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.tablepoint1 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000046; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #eff3ff; TEXT-DECORATION: none
}
.tablecellbg {
	BACKGROUND-COLOR: #ffffff
}
.tabletextnor {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.tablesubtitlenor {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.tabletextbold {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.tabletextunder {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #31659c; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
.tabletextunder1 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #31659c; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.tabletextunder1:hover {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.greytabletitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.greytableborder {
	BACKGROUND-COLOR: #dadada
}
.greytabletextnor {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.footbg {
	BACKGROUND-COLOR: #0f204b
}
.footsepbg {
	BACKGROUND-COLOR: #000046
}
.footwhitebg {
	BACKGROUND-COLOR: #ffffff
}
.foottextnor {
	FONT: 10px Verdana; COLOR: #ffffff; TEXT-DECORATION: none
}
.foottextnorlink {
	FONT: 10px Verdana; COLOR: #ffffff; TEXT-DECORATION: none
}
.footcurrent {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #31659c; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.centertablebg {
	BACKGROUND-COLOR: #efefef
}
.centersepbg {
	BACKGROUND-COLOR: #b4b4b4
}
.textbold {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.textnormal {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.textnormalnote {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #959595; TEXT-DECORATION: none
}
.homeheading {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.textunder {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #31659c; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
.texthelp {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #31659c; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.eticket {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #31659c; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.eticket:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #31659c; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.marketingtext {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #31659c; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.marketingtext:link {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #31659c; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.marketingtext:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #31659c; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.marketingtext:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #31659c; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
.paratextnormal {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana; TEXT-ALIGN: justify; TEXT-DECORATION: none
}
.paranoteunder {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; CURSOR: hand; COLOR: #31659c; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A {
	FONT-SIZE: 10px; COLOR: #31659c; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
.linkbluebold {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #31659c; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.linkblueboldunder {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #31659c; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
.linkblueboldunderddlconsole {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #31659c; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
.formobject {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; VERTICAL-ALIGN: middle; COLOR: #000000; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.formobjecttextbox {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 10px; VERTICAL-ALIGN: middle; BORDER-LEFT: #000000 1px solid; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.mandatorysign {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: red; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.buttonstyle {
	BORDER-RIGHT: #b0cffb 1px solid; BORDER-TOP: #b0cffb 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT: #b0cffb 1px solid; WIDTH: auto; COLOR: #ffffff; BORDER-BOTTOM: #b0cffb 1px solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #365399
}
.buttonstyleFlat {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-WEIGHT: normal; FONT-SIZE: 10px; BORDER-LEFT: 0px; WIDTH: auto; COLOR: #3953a4; BORDER-BOTTOM: 0px; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.buttonstyleCompact {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; BORDER-LEFT-COLOR: #bad3ef; BORDER-BOTTOM-COLOR: #bad3ef; WIDTH: 60px; COLOR: #ffffff; BORDER-TOP-STYLE: outset; BORDER-TOP-COLOR: #bad3ef; FONT-FAMILY: Verdana; BORDER-RIGHT-STYLE: outset; BORDER-LEFT-STYLE: outset; BACKGROUND-COLOR: #31659c; TEXT-ALIGN: center; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #bad3ef; BORDER-BOTTOM-STYLE: outset
}
.errorbold {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ff0000; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.errornor {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ff0000; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.imageleft {
	FLOAT: left
}
.logintitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000046; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.logintext {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000046; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.usertitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000046; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
DIV#bg {
	Z-INDEX: 100; WIDTH: 300px; POSITION: absolute; HEIGHT: 98px
}
DIV#bg1 {
	Z-INDEX: 100; WIDTH: 300px; POSITION: absolute; HEIGHT: 98px
}
DIV#wn {
	Z-INDEX: 1; LEFT: 8px; OVERFLOW: hidden; WIDTH: 380px; CLIP: rect(0px 380px 88px 0px); POSITION: absolute; TOP: 6px; HEIGHT: 98px
}
DIV#cnt {
	Z-INDEX: 1; WIDTH: 300px; POSITION: absolute
}
DIV#cnt DIV.item {
	WIDTH: 335px; COLOR: #ffffff; HEIGHT: 98px
}
.tickerbg {
	TEXT-DECORATION: none
}
.tickerlinks {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; WIDTH: 335px; COLOR: #31659c; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.tickerlinks:hover {
	TEXT-DECORATION: underline
}
.clTopMenu {
	Z-INDEX: 31; VISIBILITY: hidden; WIDTH: 160px; CLIP: rect(0px 160px 14px 0px); POSITION: absolute; HEIGHT: 85px; BACKGROUND-COLOR: #eeeeee; layer-background-color: #eeeeee
}
.clTopMenuBottom {
	Z-INDEX: 2; WIDTH: 160px; CLIP: rect(0px 160px 3px 0px); POSITION: absolute; TOP: 21px; HEIGHT: 3px; BACKGROUND-COLOR: #ffffff; layer-background-color: #cecfce
}
.clTopMenuText {
	Z-INDEX: 1; LEFT: 0px; WIDTH: 160px; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: #eeeeee
}
.resulttablehead {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000046; FONT-FAMILY: Verdana; BACKGROUND: url(../../resources/images/tablehead.gif) repeat; TEXT-DECORATION: none
}
.resulttablebody {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana; BACKGROUND: url(../../resources/images/tablebody.gif) repeat; TEXT-DECORATION: none
}
.tabGreyBgTextLinkActive {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000046; FONT-FAMILY: Verdana; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.tabBlueBgTextLinkActive {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000046; FONT-FAMILY: Verdana; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.mainTabTextLinkNoactive {
	FONT-SIZE: 10px; COLOR: #3953a4; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.tabBlueBg {
	BACKGROUND-COLOR: #ccdbff
}
.tabGreyBg {
	BACKGROUND-COLOR: #f6f3f3
}
.tabBlueBgFirstElement {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(../../images/blue_tab_corner_topleft.gif); BACKGROUND-REPEAT: no-repeat
}
.tabBlueBgLastElement {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(../../images/blue_tab_corner_topright.gif); BACKGROUND-REPEAT: no-repeat
}
.tabGreyBgFirstElement {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(../../images/grey_tab_corner_topleft.gif); BACKGROUND-REPEAT: no-repeat
}
.tabGreyBgLastElement {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(../../images/grey_tab_corner_topright.gif); BACKGROUND-REPEAT: no-repeat
}
.tabBlueBgDivider {
	BACKGROUND-COLOR: #f6f3f3
}
.addscornerlefttop {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(../../images/adscorner_lefttop.gif); BACKGROUND-REPEAT: no-repeat
}
.addscornerrighttop {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(../../images/adscorner_righttop.gif); BACKGROUND-REPEAT: no-repeat
}
.addstopborder {
	BACKGROUND-IMAGE: url(../../images/adscorner_topborder.gif); BACKGROUND-REPEAT: repeat-x
}
.addscornerleftbottom {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(../../images/adscorner_leftbottom.gif); BACKGROUND-REPEAT: no-repeat
}
.addscornerrightbottom {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(../../images/adscorner_rightbottom.gif); BACKGROUND-REPEAT: no-repeat
}
.addsbottomborder {
	BACKGROUND-IMAGE: url(../../images/adscorner_bottomborder.gif); BACKGROUND-REPEAT: repeat-x
}
.addsleftborder {
	BACKGROUND-IMAGE: url(../../images/adscorner_leftborder.gif); BACKGROUND-REPEAT: repeat-y
}
.addsrightborder {
	BACKGROUND-IMAGE: url(../../images/adscorner_rightborder.gif); BACKGROUND-REPEAT: repeat-y
}
.memberlogintopbar {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(../../images/homeloginhead.gif); BACKGROUND-REPEAT: no-repeat
}
.memberloginbottombar {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(../../images/homeloginbottom.gif); BACKGROUND-REPEAT: no-repeat
}
.bgbottomads {
	PADDING-TOP: 7px; BACKGROUND-COLOR: #e7f0f9
}
.adsfirstleft {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(../../images/bottomads1left.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #f0f5fa
}
.adsfirstright {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(../../images/bottomads1right.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #f0f5fa
}
.adssecondleft {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(../../images/bottomads2left.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #f0f5fa
}
.adssecondright {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(../../images/bottomads2right.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #f0f5fa
}
.newstrickerheader {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(../../images/newstrickerheader.gif); BACKGROUND-REPEAT: no-repeat
}
.newstrickerfooter {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(../../images/newstrickerfooter.gif); BACKGROUND-REPEAT: no-repeat
}
.errormsgtext {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; COLOR: red; FONT-FAMILY: Verdana
}
.sucessmsgtext {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; COLOR: green; FONT-FAMILY: Verdana
}
.thumbnail {
	POSITION: relative
}
.thumbnail:hover {
	Z-INDEX: 100; BACKGROUND-COLOR: transparent
}
.thumbnail SPAN {
	BORDER-RIGHT: gray 1px dashed; PADDING-RIGHT: 2px; BORDER-TOP: gray 1px dashed; PADDING-LEFT: 2px; LEFT: -1000px; VISIBILITY: hidden; PADDING-BOTTOM: 2px; BORDER-LEFT: gray 1px dashed; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: gray 1px dashed; POSITION: absolute; BACKGROUND-COLOR: lightyellow; TEXT-DECORATION: none
}
.thumbnail SPAN IMG {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-RIGHT-WIDTH: 1px
}
.thumbnail:hover SPAN {
	LEFT: 20px; VISIBILITY: visible; TOP: 0px
}
.tabtextnormal
		{font-family: Tahoma, Verdana, sans-serif; font-size: 12px; background:#ffffff;}
.ebpreading
		{font-family: Tahoma, Verdana, sans-serif; font-size: 12px; background:#D0E7CB;}
.ebcreading
		{font-family: Tahoma, Verdana, sans-serif; font-size: 12px; background:#ffffff;}		
.tabformobject {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.tabtextnormalnote {
	FONT: 9px Verdana; COLOR: #959595; TEXT-DECORATION: none
}
.buttonWidth66 {
	WIDTH: 72px
}
.buttonWidth70 {
	WIDTH: 81px
}
.f12{FONT-FAMILY: arial; FONT-SIZE: 10px;}

