@charset "utf-8";
/* CSS Document */

/* CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	behaviour: url("..\_css\PIE.htc")
}

address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	display: block;
}
/* Global Style*/
html {
	background: #999;

}

body {
	background: #fff;
	width:1024px;
	height: 610px;
	margin: 0 auto;
	font-weight:normal;
	font-style:normal;
}

header
{
	
	height: 100px;
}

/*Basic layout styles -----------------------------------------------------------------------------------------------------------*/

body {
	width: 1024px;
	margin: 0 auto;
}

header {
	height: 70px;
}

article {
	float: left;
	/*width: 850px;*/
	padding-left: 50px;
}

aside {
	float: right;
	width: 280px;
	padding-right: 50px;
}

#pageFooter {
	clear:both;
	/*overflow:hidden;*/
	height: 25px;
	border-top: 1 solid #003;
	
}

/* Content region styles -----------------------------------------------------------------------------------------------------------*/

/*header styles*/
header {
	background: #a7c7dc; /* Old browsers */
	background: -moz-linear-gradient(top, #a7c7dc 0%, #eef2ed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7c7dc), color-stop(100%,#eef2ed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a7c7dc 0%,#eef2ed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a7c7dc 0%,#eef2ed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a7c7dc 0%,#eef2ed 100%); /* IE10+ */
	background: linear-gradient(top, #a7c7dc 0%,#eef2ed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7c7dc', endColorstr='#eef2ed',GradientType=0 ); /* IE6-9 */
	padding-top: 1px;
	overflow: hidden;
	margin-bottom: 1.2em;
	padding-left: 10px;
	border-bottom: 1px solid #006;
	position: relative;
	
}
header img
{
	position: absolute;
	top: 20px;
	left: 20px
	padding: 5px;
	background: url("..\_images\enercon-logo.png") no-repeat left center;
	
}

header h1 {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 2em;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 90px;
	margin-right: .5em;
	float: left;
	padding-left: 640px;
	color: #006;
	
	
}
#titlehead
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 2em;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 90px;
	margin-right: .5em;
	float: left;
	padding-left: 554px;
	color: #006;
}

header h2 {
	font-style: italic;
	font-weight:normal;
	font-size: 1em;
	color: #fff;
	float: left;
	text-transform: lowercase;
	letter-spacing:.1em;
	
}

h2 {
	font-style: italic;
	font-weight:normal;
	font-size: 12px;
	font-family:Verdana, Geneva, sans-serif;
	color: #003;
	letter-spacing:.1em;
	
}

header a, header a:hover {
	color: #fff;
	border: none;
}

.logo
{
	position: absolute;
	width: 192px;
	height: 39px;
}
/*Content Style */
.center_col
{
	position: absolute;
	width: 1024px;
	float:none;
	
}

.left_col
{
	width: 674px;
	padding: 10px;
	height: 490px;
	float: left;
	background: 10px 0px  url(../images/front.jpg) no-repeat;
	
}

.right_col
{
	width: 328px;
	height: 490px;
	float: right;
	border-left: 1px dotted #999;
	position: relative;
	
}

.user_name
{
	font-size: 1em;
	font-family:Verdana, Geneva, sans-serif;
	
}


/*footer styles*/
#pageFooter {
	background: #a7c7dc; /* Old browsers */
	background: -moz-linear-gradient(top, #a7c7dc 0%, #eef2ed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7c7dc), color-stop(100%,#eef2ed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a7c7dc 0%,#eef2ed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a7c7dc 0%,#eef2ed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a7c7dc 0%,#eef2ed 100%); /* IE10+ */
	background: linear-gradient(top, #a7c7dc 0%,#eef2ed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7c7dc', endColorstr='#eef2ed',GradientType=0 ); /* IE6-9 */
	clear:both;
	border-top: 1px solid #003;
	width: 1024px;
}

#pageFooter label {
	display: block;
	font-size: 1.2em;
	text-transform:uppercase;
}

#pageFooter p {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	float: right;
	clear: right;
	margin-right: 3.9%;
	text-align: right;
	padding: 5px;
}

.footerleft
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	float: left;
	clear: right;
	text-align: left;
	padding: 5px;
	width: 494px;
}
.footerright
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	float: left;
	clear: right;
	text-align: right;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 80px;
	width: 410px;
}
#pageFooter a {
	display:block;
	height: 25px;
	line-height: 100px;
	border: none;
	color:rgb(76, 67, 65);
}


/* CSS Form*/
.tfd{
	height: 150px;
	width: 270px;
	-webkit-box-shadow: 0 1px 0 #fff inset;
	-moz-box-shadow: 0 1px 0 #fff inset;
	-ms-box-shadow: 0 1px 0 #fff inset;
	-o-box-shadow: 0 1px 0 #fff inset;
	box-shadow: 0 1px 0 #fff inset;
	margin: 0 auto;
	padding: 25px 0 0;
	position: relative;
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#003;
	}
.clearfix:after,
form:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.container {  
	position: relative;
	top: 30px;
}
#message{
	postion: relative;
	margin: 0 auto;
	padding-bottom: 10px;
	position: relative;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
}
#content {
	background: #f9f9f9;
	background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(249,249,249,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
	-webkit-box-shadow: 0 1px 0 #fff inset;
	-moz-box-shadow: 0 1px 0 #fff inset;
	-ms-box-shadow: 0 1px 0 #fff inset;
	-o-box-shadow: 0 1px 0 #fff inset;
	box-shadow: 0 1px 0 #fff inset;
	border: 1px solid #009;
	margin: 0 auto;
	padding: 25px 0 0;
	position: relative;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	width: 270px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
#content h1 {
	color: #003;
	font: bold 20px "Trebuchet MS", Arial, Helvetica, sans-serif;
	letter-spacing: -0.05em;
	line-height: 20px;
	margin: 10px 0 30px;
}
#content h1:before,
#content h1:after {
	content: "";
	height: 1px;
	position: absolute;
	top: 10px;
	width: 27%;
}
#content h1:after {
	background: rgb(126,126,126);
	background: -moz-linear-gradient(left,  rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    right: 0;
}
#content h1:before {
	background: rgb(126,126,126);
	background: -moz-linear-gradient(right,  rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    left: 0;
}
/*#content:after,
#content:before {
	background: #f9f9f9;
	background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(249,249,249,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
	border: 1px solid #c4c6ca;
	content: "";
	display: block;
	height: 100%;
	left: -1px;
	position: absolute;
	width: 100%;
}
#content:after {
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	transform: rotate(2deg);
	top: 0;
	z-index: -1;
}
#content:before {
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
	top: 0;
	z-index: -2;
}*/
#content form { margin: 0 20px; position: relative }
#content form input[type="text"]
{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: #eae7e7 10px 10px url(../images/8bcLQqF.png) no-repeat;
	border: 1px solid #c8c8c8;
	color: #777;
	font: 13px Helvetica, Arial, sans-serif;
	margin: 0 0 10px;
	padding: 10px 10px 10px 40px;
	width: 80%;
}

#content form input[type="password"] {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: #eae7e7 10px 10px url(../images/8bcLQqF.png) no-repeat;
	border: 1px solid #c8c8c8;
	color: #777;
	font: 13px Helvetica, Arial, sans-serif;
	margin: 0 0 10px;
	padding: 10px 10px 10px 40px;
	width: 80%;
}
#content form input[type="text"]:focus,
#content form input[type="password"]:focus {
	-webkit-box-shadow: 0 0 2px #ed1c24 inset;
	-moz-box-shadow: 0 0 2px #ed1c24 inset;
	-ms-box-shadow: 0 0 2px #ed1c24 inset;
	-o-box-shadow: 0 0 2px #ed1c24 inset;
	box-shadow: 0 0 2px #ed1c24 inset;
	background-color: #fff;
	background: #eae7e7 10px 10px url(../images/8bcLQqF.png) no-repeat;
	border: 1px solid #ed1c24;
	outline: none;
}
#sLoginID { background-position: 10px 10px !important }
#sPassword { background-position: 10px -53px !important }
#content form input[type="submit"] {
	background: rgb(254,231,154);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-ms-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-o-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	border: 1px solid #D69E31;
	color: #85592e;
	cursor: pointer;
	float: left;
	font: bold 15px Helvetica, Arial, sans-serif;
	height: 30px;
	margin: 20px 0 35px 135px;
	position: relative;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	width: 100px;
}
#content form input[type="submit"]:hover {
	background: rgb(254,193,81);
	background: -moz-linear-gradient(top,  rgba(254,193,81,1) 0%, rgba(254,231,154,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: -o-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: -ms-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec151', endColorstr='#fee79a',GradientType=0 );
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}
#content form div a {
	color: #004a80;
    float: right;
    font-size: 12px;
    margin: 30px 15px 0 0;
    text-decoration: underline;
}
.button {
	background: rgb(247,249,250);
	background: -moz-linear-gradient(top,  rgba(247,249,250,1) 0%, rgba(240,240,240,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
	background: -o-linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
	background: -ms-linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
	background: linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f9fa', endColorstr='#f0f0f0',GradientType=0 );
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	-ms-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	-o-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	border-top: 1px solid #CFD5D9;
	padding: 15px 0;
	
}
.button a {
	background: url(../images/8bcLQqF.png) 0 -112px no-repeat;
	color: #7E7E7E;
	font-size: 17px;
	padding: 2px 0 2px 40px;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	
}
.button a:hover {
	background-position: 0 -135px;
	color: #00aeef;
}

