ul#deluxeMenu,ul#deluxeMenu ul{
	margin:0;list-style:none;padding:0;background-color:#FFFFFF;border-width:0px;border-style:solid;border-color:;}
ul#deluxeMenu ul{
	display:none;position:absolute;left:0;top:100%;opacity:0.85;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";-moz-box-shadow:2.1px 2.1px 3px #B1B1B1;-webkit-box-shadow:2.1px 2.1px 3px #B1B1B1;box-shadow:2.1px 2.1px 3px #B1B1B1;padding:0 4px 4px;background-color:#FFFFFF;border-width:1px;border-style:solid;border-color:#1C49B3;}
ul#deluxeMenu li:hover>*{
	display:block;}
ul#deluxeMenu li:hover{
	position:relative;}
ul#deluxeMenu ul ul{
	position:absolute;left:100%;top:0;opacity:1;}
ul#deluxeMenu{
	display:block;font-size:0;float:left;}
ul#deluxeMenu li{
	display:block;white-space:nowrap;font-size:0;float:left;}
ul#deluxeMenu>li,ul#deluxeMenu li{
	margin:0;}
ul#deluxeMenu a:active, ul#deluxeMenu a:focus{
	outline-style:none;}
ul#deluxeMenu a,ul#deluxeMenu li.dis a:hover{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font:normal 11px Trebuchet MS, Tahoma;color:#112D6F;cursor:pointer;padding:0px 15px 0px 10px;background-color:#B4CDE5;background-repeat:repeat;border-width:1px;border-style:solid;border-color:#8DAEFA;}
ul#deluxeMenu ul li{
	float:none;margin:4px 0 0;}
ul#deluxeMenu ul a,ul#deluxeMenu ul li.dis:hover a{
	text-align:left;}
ul#deluxeMenu li:hover>a{
	background-color:#437CBC;border-color:#84A7F9;border-style:ridge;font:normal 11px Trebuchet MS, Tahoma;color:#9DF8FF;text-decoration:none;}
ul#deluxeMenu li.dis a{
	color:#AAAAAA !important;}
ul#deluxeMenu img{
	border:none;vertical-align:middle;margin-right:0px;}
ul#deluxeMenu img.over{
	display:none;}
ul#deluxeMenu li.dis:hover a img.over{
	display:none !important;}
ul#deluxeMenu li.dis:hover a img.def{
	display:inline !important;}
ul#deluxeMenu li:hover > a img.def{
	display:none;}
ul#deluxeMenu li:hover > a img.over{
	display:inline;}
ul#deluxeMenu span{
	display:block;overflow:visible;background-image:url("arr_white.gif");background-position:right center;background-repeat:no-repeat;padding-right:32px;}
ul#deluxeMenu ul span{
	background-image:url("arr_black.gif");padding-right:7px;}
ul#deluxeMenu ul li:hover > a span{
	background-image:url("arrv_white.gif");}
ul#deluxeMenu ul a,ul#deluxeMenu ul li.dis a:hover{
	padding:1px 5px 1px 10px;}
ul#deluxeMenu li.topmenu>a,ul#deluxeMenu li.topmenu.dis a:hover{
	height:25px;background-color:transparent;background-image:url("styleOp_normal.gif");border-width:0px;font:normal 11px Tahoma;color:#FFFFFF;background-position:100% 0;line-height:25px;}
ul#deluxeMenu li.topmenu:hover>a{
	background-color:transparent;background-image:url("styleOp_over.gif");font:normal 11px Tahoma;color:#B7FAFF;line-height:25px;}
ul#deluxeMenu li.topmenu,ul#deluxeMenu li.topmenu.dis:hover{
	margin:0 5px 0 0;background-color:transparent;background-image:url("styleOp_normal.gif");background-position:0 0;}
ul#deluxeMenu li.topmenu:hover{
	background-color:transparent;background-image:url("styleOp_over.gif");}
ul#deluxeMenu li.topmenu>a,ul#deluxeMenu li.topmenu.dis:hover>a{
	margin:0 -5px 0 5px;}
ul#deluxeMenu li.ln>a,ul#deluxeMenu li.ln.dis a:hover{
	height:25px;background-color:transparent;background-image:url("styleOp_normal.gif");border-width:0px;font:normal 11px Tahoma;color:#FFFFFF;background-position:100% 0;padding:1px 5px 1px 10px;line-height:25px;}
ul#deluxeMenu li.ln:hover>a{
	background-color:transparent;background-image:url("styleOp_over.gif");font:normal 11px Tahoma;color:#B7FAFF;line-height:25px;}
ul#deluxeMenu li.ln,ul#deluxeMenu li.ln.dis:hover{
	margin:0 5px 0 0;background-color:transparent;background-image:url("styleOp_normal.gif");background-position:0 0;}
ul#deluxeMenu li.ln:hover{
	background-color:transparent;background-image:url("styleOp_over.gif");}
ul#deluxeMenu li.ln>a,ul#deluxeMenu li.ln.dis:hover>a{
	margin:0 -5px 0 5px;}
ul#deluxeMenu .submenu>li{
	margin:4px 0 0;}
ul#deluxeMenu .submenu{
	background-color:#FFFFFF;border-width:1px;border-style:solid;border-color:#1C49B3;padding:0 4px 4px;}
ul#deluxeMenu .submenu>li>a,ul#deluxeMenu .submenu>li.dis a:hover{
	padding:1px 5px 1px 10px;}
ul#deluxeMenu li._>a,ul#deluxeMenu li._.dis a:hover{
	padding:1px 5px 1px 10px;}
